html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: inherit;
}

li {
  list-style: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  outline: transparent;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.btn {
  color: #ffffff;
  background-color: #2352de;
  border: 1px solid transparent;
  padding: 12px 24px;
  width: 205px;
  height: 47px;
  transition: border 0.4s linear, background-color 0.4s linear, color 0.4s linear, outline 0.4s linear, box-shadow 0.4s linear;
  line-height: 1.3;
}

.btn:hover {
  background-color: #ffffff;
  border: 1px solid #2352de;
  color: #2352de;
}

.btn:focus {
  outline: 3px solid rgba(35, 82, 222, 0.5);
}

.btn:active {
  background-color: #2352de;
  color: #ffffff;
  box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.25);
}

/* ----------------------------------------- */

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
  line-height: 1.6;
  color: #333333;
  background-color: #ffffff;
}

/* ----------------------------------------- */

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 140px 0;
}

.title {
  display: inline-block;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3;
  margin-bottom: 60px;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  left: 0;
  bottom: 8px;
  background-color: rgba(35, 82, 222, 0.1);
}

/* ----------------------------------------- */

.header {
  height: 100vh;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(35, 82, 222, 0.5);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 75px;
}

.logo {
  transition: opacity 0.4s linear, outline 0.4s linear;
}

.logo:hover {
  opacity: 0.7;
}

.logo:focus {
  outline: 3px solid #2352de;
}

.logo:active {
  opacity: 0.5;
}

.navigation__btn {
  display: none;
}

.header__list {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 30px;
}

.header__link {
  line-height: 1.3;
  text-decoration: underline transparent;
  transition: text-decoration 0.4s linear, border 0.4s linear, opacity 0.4s linear;
}

.header__link:hover {
  text-decoration: underline #ffffff;
}

.header__link:focus {
  outline: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

.header__link:active {
  opacity: 0.7;
}

.header__content {
  position: relative;
  display: flex;
  align-items: center;
  height: calc(100vh - 128px);
}

.header__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.3;
  max-width: 77%;
}

.header__subtitle {
  font-weight: 700;
  font-size: 90px;
  line-height: 1.3;
}

.header__button {
  line-height: 1.3;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  padding-bottom: 35px;
  border: 2px solid transparent;
  text-decoration: underline transparent;
  transition: text-decoration 0.4s linear, border 0.4s linear, opacity 0.4s linear;
}

.header__button::after {
  content: "";
  position: absolute;
  width: 37px;
  height: 23px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background-image: url("../images/arrow-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header__button:hover {
  text-decoration: underline #ffffff;
}

.header__button:focus {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
}

.header__button:active {
  opacity: 0.7;
}

/* ----------------------------------------
секция про мене */

.about__text p {
  font-weight: 400;
}

.about__text p:not(:last-child) {
  margin-bottom: 25px;
}

/* ----------------------------------- */
/* секция Навички */
.skills {
  background-color: #f6f6f8;
}

.skills__wrapper {
  display: flex;
  align-items: center;
}

.skills__img {
  margin-right: 90px;
}

.skills__list {
  max-width: 664px;
  width: 100%;
}

.skills__item {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.skills__item:not(:last-child) {
  margin-bottom: 86px;
}

.skills__bar {
  height: 32px;
  width: 90%;
  background-color: #dbdbed;
  margin-left: 14px;
}

.skills__progress {
  height: 100%;
  background-color: #2352de;
}

/* ------------------------------------
секция Послуги */

.services__list {
  display: flex;
}

.services__item {
  max-width: 330px;
  width: 100%;
}

.services__item:not(:last-child) {
  margin-right: 90px;
}

.services__item::before {
  content: "";
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 30px;
  display: block;
}

.services__icon--code::before {
  background-image: url("../images/sevices-icon-code.svg");
}

.services__icon--dev::before {
  background-image: url("../images/sevices-icon-dev.svg");
}

.services__icon--chat::before {
  background-image: url("../images/sevices-icon-chat.svg");
}

.sevices__subtitle {
  font-size: 28px;
  margin-bottom: 25px;
  line-height: 1.3;
}

.services__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

/* ------------------------------------------------------------- */
/* секция мои работы */

.work {
  padding-top: 0;
  text-align: center;
}

.work__filter {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.work__item:not(:last-child) {
  margin-right: 45px;
}

.work__btn {
  font-size: 24px;
  text-decoration: underline transparent;
  transition: color 0.4s linear, text-decoration-color 0.4s linear, border 0.4s linear;
  border: 2px solid transparent;
}

.work__btn:hover {
  color: #2352de;
  text-decoration-color: #2352de;
}

.wwork__btn:focus {
  border: 2px solid rgba(35, 82, 222, 0.5);
  border-radius: 3px;
}

.work__btn:active,
.mixitup-control-active {
  color: #2352de;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
  margin-bottom: 60px;
}

.gallery__item {
  position: relative;
}

.gallery__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 24px;
  background-color: #4c4a4a;
  color: #ffffff;
  border: 10px solid #666565;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s linear, border 0.4s linear;
}

.gallery__link:hover {
  opacity: 1;
}

.gallery__link:focus {
  opacity: 0.5;
}

.gallery__link:active {
  opacity: 1;
  border: none;
}

/* -------------------------------------------------------
секция отзывы - reviews */
.review {
  background-color: #f6f6f8;
  text-align: center;
}

.review__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.review__card {
  max-width: 400px;
  width: 100%;
}

.review__img {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  max-width: 134px;
  width: 100%;
}

.review__title {
  font-size: 24px;
  line-height: 1.3;
  color: #2352de;
  margin-bottom: 20px;
}

.review__text {
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.3;
}

.review__video {
  width: 570px;
  position: relative;
  display: inline-block;
  z-index: 1;
  /* transition: z-index 0.4s linear, background-color 0.4s linear; */
}

.review__video::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 86px;
  width: 129px; /* Ширина по умолчанию */
  height: 150px;
  background-image: url("../images/video_play_icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: width 0.4s linear, height 0.4s linear;
}

.review__video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.4s linear, z-index 0.4s linear;
}

.review__video:hover::after {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.review__video:active::before {
  width: 51px;
  height: 60px;
}

.review__video:active::after {
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 0;
}

/* --------------------------------------------------
секция статистика statistic */

.statistic__list {
  display: flex;
  justify-content: space-between;
}

.statistic__item {
  max-width: 270px;
  width: 100%;
  height: 287px;
  background-color: #dbdbed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.statistic__item::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 80px;
}

.statistic__item-work::before {
  background-image: url("../images/statistic_works.svg");
  width: 98px;
}

.statistic__item-clients::before {
  background-image: url("../images/statistic_clients.svg");
  width: 92px;
}

.statistic__item-coffee::before {
  background-image: url("../images/statistic_coffee.svg");
  width: 80px;
}

.statistic__item-review::before {
  background-image: url("../images/statistic_review.svg");
  width: 80px;
}

.statistic__subtitle {
  font-weight: 400;
  line-height: 1.3;
}

.statistic__number {
  font-size: 44px;
  line-height: 1;
}

/* ------------------------------------------------------------ */
/*секция контакты  */
.contacts {
  padding-top: 0;
}

.contacts__wrapper {
  display: flex;
}

.connection {
  margin-right: 99px;
}

.contacts__text {
  margin-bottom: 30px;
  max-width: 530px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  color: #333;
}

.connection__tel,
.connection__mail {
  margin-bottom: 15px;
  display: block;
  max-width: max-content;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: rgba(35, 82, 222, 1);
  text-decoration: underline transparent;
  outline: 3px solid transparent;
  transition: text-decoration-color 0.4s linear, outline 0.4s linear, border-radius 0.4s linear, color 0.4s linear;
}

.connection__mail {
  margin-bottom: 21px;
}

.connection__tel:hover,
.connection__mail:hover {
  text-decoration-color: rgba(35, 82, 222, 1);
}

.connection__tel:focus,
.connection__mail:focus {
  outline: 3px solid rgba(35, 82, 222, 0.5);
  border-radius: 3px;
}

.connection__tel:active,
.connection__mail:active {
  color: rgba(35, 82, 222, 0.7);
}

.connection__list {
  display: flex;
}

.connection__item:not(:last-child) {
  margin-right: 20px;
}

.connection__link {
  display: block;
  height: 44px;
  outline: 3px solid transparent;
  transition: outline 0.4s linear, border-radius 0.4s linear, box-shadow 0.4s linear;
}

.connection__icon {
  fill-opacity: 1;
  transition: fill-opacity 0.4s linear;
}

.connection__link:hover .connection__icon {
  fill-opacity: 0.7;
}

.connection__link:focus {
  outline: 3px solid rgba(35, 82, 222, 0.5);
  border-radius: 3px;
}

.connection__link:active {
  box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.15);
}

.form__contacts {
  display: flex;
}

.form__contacts label {
  display: block;
  margin-bottom: 30px;
  margin-right: 30px;
}

.form input,
.form textarea {
  border: none;
  background-color: rgba(246, 246, 248, 1);
  display: block;
  max-width: 255px;
  width: 100%;
  height: 44px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  outline: 3px solid transparent;
  transition: outline 0.4s linear;
}

.form input::placeholder,
.form textarea::placeholder {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
  color: #9c9cab;
  transition: color 0.4s linear;
}

.form textarea {
  max-width: 540px;
  width: 100%;
  height: 115px;
  margin-bottom: 30px;
  resize: none;
}

.form label {
  font-size: 14px;
  line-height: 1.3;
}

.form__contacts label input,
form textarea {
  margin-top: 10px;
}

#username:hover::placeholder,
#number:hover::placeholder,
#message:hover::placeholder {
  color: rgba(0, 0, 0, 1);
}

.form input:focus,
.form textarea:focus {
  outline: 3px solid rgba(35, 82, 222, 0.5);
}

/* ---------------------------------------------------------------------------- */
/* footer */

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(52, 55, 64, 1);
}

.logo__img {
  display: block;
  margin: 0 auto;
}

/* -----------------------------------------------------------------------------------
адаптив  */

@media (max-width: 375px) {
  .navigation {
    padding-top: 15px;
  }
  .navigation__btn {
    display: block;
  }
  .header__list {
    position: absolute;
    /* left: 0; */
    right: 0;
    top: 90px;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    outline: 2px solid tomato;
  }
  .header__content {
    height: calc(100vh - 15px);
  }
  .header__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.3;
  }
  .header__subtitle {
    font-weight: 700;
    font-size: 40px;
  }
  .header__button {
    font-weight: 600;
    font-size: 14px;
    bottom: 70px;
  }
}
